html body
{
    padding: 0;
    margin: 0;
}

.greyed-background
{
    background-color: lightgrey;
}

.salad-background
{
    background-color: #C8FC98;
}

.red
{
    color: red;
}

.wide
{
    height: 100px;
}

.liquid
{
    width: 100%;
    overflow: hidden;
}

#sidepanel
{
    float: left;
    width: 25%;
    height: max-content;
    padding: 0.25vw;
}

#main-content
{
    display: table-cell;
    margin: 0;
    margin-left: 1vw;
}

#main-content h3,
#sidepanel h3,
#right-panel h4
{
    float: left;
    margin: 0;
    margin-right: 0.5vw;
    padding: 0;
}

#main-content p,
#sidepanel h3,p,
#right-panel h3,p
{
    margin: 0;
    padding: 0;
}

.full-width
{
    width: 100%;
}

.black-background
{
    background-color: black;
}

footer
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    height: 3vw;
}

.yellow
{
    color: yellow;
}

.line-height
{
    line-height: 1.5;
}

#right-panel
{
    display: table-cell;
    width: 200px;
}

#right-panel h3
{
    margin:0;
    padding:0;
}

.yellow-background
{
    background-color: yellow;
}